<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="colorGreen table-header">Editar una Mascota</h3>
                    <form action="/mascotas/editar/{{editarMascotas.ID_MASCOTAS}}" method="POST">
                        <div class="form-group my-3">
                            <label for="tipo_nombre" class="form-label colorLogo letraBold">Tipo:</label>
                            <select id="tipo_nombre" class="form-control" name="mascota_tipo" required>
                                <option value="" disabled selected>Mascota</option>
                                {{#each tipos }}
                                <option value="{{ID_TIPO}}" {{#ifCond ID_TIPO ../mascotas.ID_TIPO}} selected
                                    {{/ifCond}}>
                                    {{TIPO_NOMBRE}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group my-3">
                            <label for="raza_nombre" class="form-label colorLogo letraBold">Raza:</label>
                            <select id="raza_nombre" class="form-control" name="mascota_raza" required>
                                <option value="{{editarMascotas.ID_RAZA}}" selected>{{editarMascotas.RAZA_NOMBRE}}</option>
                            </select>
                        </div>
                        <div class="form-group my-3">
                            <label for="sexo_nombre" class="form-label colorLogo letraBold">Sexo:</label>
                            <select id="sexo_nombre" class="form-control" name="mascota_sexo" required>
                                {{#each sexos}}
                                <option value="{{ID_SEXO}}" {{#ifCond ID_SEXO ../mascota.ID_SEXO}}selected{{/ifCond}}>
                                    {{SEXO_NOMBRE}}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group my-3">
                            <label for="mascota_nombre" class="form-label colorLogo letraBold">Nombre:</label>
                            <input type="text" id="mascota_nombre" class="form-control" name="mascota_nombre"
                                value="{{editarMascotas.MASCOTAS_NOMBRE}}" required>
                        </div>

                        <div class="form-group my-3">
                            <label for="mascota_fnac" class="form-label colorLogo letraBold">Fecha de
                                Nacimiento:</label>
                            <input type="date" id="mascota_fnac" class="form-control" name="mascota_fnac"
                                value="{{editarMascotas.MASCOTAS_FNAC}}" required>
                        </div>
                        <div class="form-group row gx-3 my-3">
                            <button class="btn btn-success">Guardar</button>
                            <a href="/mascotas" class="btn btn-danger my-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('tipo_nombre').addEventListener('change', function () {
    const tipoId = this.value;
    fetch(`/mascotas/raza/${tipoId}`)
        .then(res => res.json())
        .then(razas => {
            const razaSelect = document.getElementById('raza_nombre');
            razaSelect.innerHTML = '';
            razas.forEach(raza => {
                const option = document.createElement('option');
                option.value = raza.ID_RAZA;
                option.textContent = raza.RAZA_NOMBRE;
                razaSelect.appendChild(option);
            });
        });
});
</script>