<div class="container p-1">

    <div class="container text-center">
        <h2 class="titulos">Adoptantes</h2>
        <h6 class="subtitulos">Aquí podrás ver todos los adoptantes registrados.</h6>
    </div>
    
    <a href="/registroadoptantes" class="btn btnAgregar">AGREGAR <i
            class="fa-solid fa-plus fa-sm colorPrincipal" ></i></a>
    <div>
        <div style="position: relative; width: 100%; max-width: 400px;">

            <input type="text" id="buscador" placeholder="Buscar por nombre, dirección, localidad"
                style="width: 100%; padding-right: 40px;" class="form-control my-3" />
            <i class="fas fa-search" style="
                position: absolute; 
                right: 10px; 
                top: 50%; 
                transform: translateY(-50%); 
                color: #6c757d; 
                font-size: 1.2rem; 
                cursor: pointer;">
            </i>
        </div>
    </div>

    <table class="table table-bordered table-header table-hover w-100">
        <thead>
            <tr>
                <th scope="col" class="table-header colorPrincipal"></th>
                <th scope="col" class="table-header colorPrincipal">Nombre</th>
                <th scope="col" class="table-header colorPrincipal">Dirección</th>
                <th scope="col" class="table-header colorPrincipal">Acción</th>
            </tr>
        </thead>
        <tbody id="tabla-listaradoptantes">
            {{#if listaradoptantes}}
            {{#each listaradoptantes}}
            <tr>
                <td scope="row">
                    <a href="/adoptantes/eliminar/{{ID_ADOPTS}}" class="text-danger" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar?')">
                        <i class="fa-solid fa-xmark fa-xl colorPrincipal" ></i>
                    </a>
                </td>
                <td>{{ADOPTS_NOMBRE}}</td>
                <td>{{ADOPTS_DIRECCION}}</td>
                <td>
                    <a href="/adoptantes/asignar/{{ID_ADOPTS}}" class="btn btnAgregar btn-sm">Asignar</a>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="7">No hay adoptantes. <a href="/adoptantes/registroAdoptantes">Agrega uno.</a> </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('buscador').addEventListener('input', function () {
        const filtro = this.value.toLowerCase();
        const filas = document.querySelectorAll('#tabla-listaradoptantes tr');
        filas.forEach((fila) => {
            const textoFila = fila.textContent.toLowerCase();
            fila.style.display = textoFila.includes(filtro) ? '' : 'none';
        });
    });
</script>