<div class="container p-1">
    <div class="container text-center">
        <h2 class="titulos">Adopciones</h2>
        <h6 class="subtitulos">Aquí podrás ver todas las adopciones registradas.</h6>
    </div>
    <div class="row py-3">
            {{#each adoptar}}
            <div class="col-md-4">
                {{!-- ID_ADOPCIONES, MASCOTAS_NOMBRE, TIPO_NOMBRE, RAZA_NOMBRE, MASCOTAS_FNAC, ADOPCION_FECHA, ADOPTS_NOMBRE, ADOPTS_DIRECCION --}}
                <div class="card text-center position-relative">
                    <div class="position-absolute top-0 end-0 m-2 d-flex gap-1">
                        <a href="/adoptantes/cancelar/{{ID_ADOPCIONES}}" class="text-danger" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar?')">
                            <i class="fa-solid fa-xmark fa-xl colorPrincipal" ></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-uppercase subtitulosMenu mt-3">
                            {{MASCOTAS_NOMBRE}}
                        </h3>
                        <p>{{TIPO_NOMBRE}} - {{RAZA_NOMBRE}}
                            Nacimiento: {{formatoFecha MASCOTAS_FNAC}}
                        </p>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            Fecha de adopcion: {{formatoFecha ADOPCION_FECHA}}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            Adoptante: {{ADOPTS_NOMBRE}}
                        </h6>
                        <p class="card-text">
                            Dirección: {{ADOPTS_DIRECCION}}
                        </p>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay adopciones.</p>
                <a href="/adoptantes/asignar">Agrega una.</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>