<h2 class="titulos">Listado de Adoptantes</h2>
<div style="position: relative; width: 100%; max-width: 400px;">
    <input
        type="text"
        id="buscador"
        placeholder="Buscar por nombre, dirección, localidad"
        style="width: 100%; padding-right: 40px;"
        class="form-control"
    />
    <i class="fas fa-search" 
       style="
            position: absolute; 
            right: 10px; 
            top: 50%; 
            transform: translateY(-50%); 
            color: #6c757d; 
            font-size: 1.2rem; 
            cursor: pointer;">
    </i>

</div>
    <a href="/adoptantes/registroAdoptantes" class="btn btn-success  my-3" style="background-color: #03989e;">AGREGAR <i class="fa-solid fa-plus fa-sm" style="color: #ffffff;"></i></a>
<div>
<table class="table table-bordered table-header">
    <thead>
        <tr>
            <th scope="col" class="fondoGradiente2 table-header">#</th>
            <th scope="col" class="fondoGradiente2 table-header">Nombre</th>
            <th scope="col" class="fondoGradiente2 table-header">Dirección</th>
            <th scope="col" class="fondoGradiente2 table-header">Acción</th>
        </tr>
    </thead>
    <tbody id="tabla-listaradoptantes">
        {{#if listaradoptantes}}
            {{#each listaradoptantes}}
                <tr>
                    <th scope="row">{{ID_ADOPTS}}</th>
                    <td>{{ADOPTS_NOMBRE}}</td>
                    <td>{{ADOPTS_DIRECCION}}</td>
                    <td>
                        <a href="/reserva/estacion/{{ID_ESTC}}" class="btn btn-success btn-sm">Reservar</a>
                        <a href="/adoptantes/eliminar/{{ID_ADOPTS}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar?')">Eliminar</a>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="7">No hay adoptantes. <a href="/adoptantes/registroAdoptantes">Agrega uno.</a> </td>
            </tr>
        {{/if}}
    </tbody>
</table>
</div>

<script>
    document.getElementById('buscador').addEventListener('input', function () {
        const filtro = this.value.toLowerCase();
        const filas = document.querySelectorAll('#tabla-listaradoptantes tr');

        filas.forEach((fila) => {
            const textoFila = fila.textContent.toLowerCase();
            fila.style.display = textoFila.includes(filtro) ? '' : 'none';
        });
    });
</script>