<div class="d-flex justify-content-center align-items-center vh-100 login-container">

    <div class="col-md-6 col-lg-5 col-xl-4">

        <div class="card login-card-moderno">

            <div class="card-header profile-header">
                <img src="/img/usuarioperfil.png" class="profile-avatar" alt="Avatar de usuario">
                <h2 class="fw-bold m-0">Mis Datos</h2>
            </div>

            <div class="card-body">
                <div class="profile-data-container">
                    
                    <div class="profile-field">
                        <label class="form-label">Nombre</label>
                        <p>{{user.USER_NOMBRE}}</p>
                    </div>

                    <div class="profile-field">
                        <label class="form-label">Apellido</label>
                        <p>{{user.USER_APELLIDO}}</p>
                    </div>

                    <div class="profile-field">
                        <label class="form-label">Correo</label>
                        <p>{{user.USER_CORREO}}</p>
                    </div>

                    <div class="profile-field">
                        <label class="form-label">Teléfono</label>
                        <p>{{user.USER_TELEFONO}}</p>
                    </div>

                </div>

                <div class="d-grid mt-4">
                    <a href="/auth/editarUser/{{user.ID_USER}}" class="btn btn-primary btn-block fw-bold">Editar perfil</a>
                </div>
            </div>
        </div>
    </div>
</div>


